<h1><%= @truck.unit_number %> Shifts</h1>
<%= link_to "New Shift", new_truck_shift_path(@truck) %>
<% @truck.shifts.each do |s| %>
<h4><%= link_to s.shift_name, shift_path(s) %></h4>
<% end %>








